useDynLib(readarpa, .registration=TRUE)

import(methods)
exportClasses(ngram.model)

export(read.arpa)

# TODO: methods, other functions...

importFrom(hash, hash)
importFrom(stringi, stri_replace_fixed)
